body {
    background: #f2f2f2;
    font-family: "Open Sans", sans-serif;
}
header .nav {
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}
header .logo h2,
header .logo p {
    font-size: 16px;
    display: inline-block;
}
header .logo .icon {
    color: #bfbfbf;
}
header .logo svg {
    width: 20px;
    height: 20px;
}
header .logo p {
    color: #777777;
}
header .menu .c1 { background: #3da5e2; }
header .menu .c2 { background: #005385; }
header .menu .c3 { background: #003855; }
header .menu .c1:hover { background: #1ba0ef; }
header .menu .c2:hover { background: #00426a; }
header .menu .c3:hover { background: #002d44; }
/* MAIN */
/* BRIEFCASE */
.briefcase {
    border-top: 5px solid #3da5e2;
    background: #fff;
}
.briefcase .titulo {
    color: #3da5e2;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
.briefcase .gallery .container-image {
    max-height: 180px;
    overflow: hidden;
}
.briefcase .gallery .container-image a {
    background: #3da5e2;
    display: inline-block;
}
.briefcase .gallery .container-image:hover img {
    opacity: .3;
}
/* WINDOW MODAL */
.modal-dialog {
    max-width: 1000px;
}
/* MEDIAQUERIES */
/* Dispositivo sm */
@media screen and (max-width: 576px){
    .redes-sociales .icon {
        width: 50px;
        height: 50px;
    }

    .redes-sociales .icon svg {
        width: 25px;
        height: 25px;
    }

}

/* Dispositivo md */
@media screen and (max-width: 768px){}

/* Dispositivo lg */
@media screen and (max-width: 992px){
    .logo {
        height: 76px;
    }

    header .menu {
        min-height: 76px;
    }

    header .menu a {
        width: 100%;
    }

    .briefcase .gallery .container-image:nth-child(1) {order: 1;}
    .briefcase .gallery .container-image:nth-child(2) {order: 3;}
    .briefcase .gallery .container-image:nth-child(3) {order: 6;}
    .briefcase .gallery .container-image:nth-child(4) {order: 2;}
    .briefcase .gallery .container-image:nth-child(5) {order: 5;}
    .briefcase .gallery .container-image:nth-child(6) {order: 4;}
    .briefcase .gallery .container-image:nth-child(7) {order: 7;}
}

/* Dispositivo xl */
@media screen and (max-width: 1200px){}

/* Dispositivo xxl */
@media screen and (max-width: 1400px){}